alembic
appdirs
atomicwrites
backcall
banal
dataset
docopt
ipython
jsonpointer
Mako
nbconvert
opencv-python
pipreqs
protobuf
pyasn1-modules
pyls-spyder
PyQt5
PyQtWebEngine
setuptools
SQLAlchemy
torch
torchvision
wheel
yarg
